<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginLogic</servlet-name>
        <servlet-class>controller.loginLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerLogic</servlet-name>
        <servlet-class>controller.registerLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileLogic</servlet-name>
        <servlet-class>controller.profileLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnLogic</servlet-name>
        <servlet-class>controller.returnLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileUpdateLogic</servlet-name>
        <servlet-class>controller.profileUpdateLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>propertyCreateLogic</servlet-name>
        <servlet-class>controller.propertyCreateLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>propertyViewLogic</servlet-name>
        <servlet-class>controller.propertyViewLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePropertyLogic</servlet-name>
        <servlet-class>controller.updatePropertyLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePropertyLogic</servlet-name>
        <servlet-class>controller.deletePropertyLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>propertyAcquireLogic</servlet-name>
        <servlet-class>controller.propertyAcquireLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountViewLogic</servlet-name>
        <servlet-class>controller.accountViewLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountTransactionLogic</servlet-name>
        <servlet-class>controller.accountTransactionLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reviewRatingViewLogic</servlet-name>
        <servlet-class>controller.reviewRatingViewLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reviewRatingUpdateLogic</servlet-name>
        <servlet-class>controller.reviewRatingUpdateLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentViewLogic</servlet-name>
        <servlet-class>controller.paymentViewLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transactionApproveLogic</servlet-name>
        <servlet-class>controller.transactionApproveLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transactionRejectLogic</servlet-name>
        <servlet-class>controller.transactionRejectLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportLogic</servlet-name>
        <servlet-class>controller.reportLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnLogicvHTP</servlet-name>
        <servlet-class>controller.returnLogicvHTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>propertyViewLogicvHTP</servlet-name>
        <servlet-class>controller.propertyViewLogicvHTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reviewRatingProperty</servlet-name>
        <servlet-class>controller.reviewRatingProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileListLogic</servlet-name>
        <servlet-class>controller.profileListLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileListUpdateLogic</servlet-name>
        <servlet-class>controller.profileListUpdateLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ownerAccountLogic</servlet-name>
        <servlet-class>controller.ownerAccountLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ownerRejectLogic</servlet-name>
        <servlet-class>controller.ownerRejectLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerLogicAdmin</servlet-name>
        <servlet-class>controller.registerLogicAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ownerApproveLogic</servlet-name>
        <servlet-class>controller.ownerApproveLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountRemovalLogic</servlet-name>
        <servlet-class>controller.accountRemovalLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transactionViewLogic</servlet-name>
        <servlet-class>controller.transactionViewLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reviewRatingViewLogicReturn</servlet-name>
        <servlet-class>controller.reviewRatingViewLogicReturn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginLogic</servlet-name>
        <url-pattern>/loginLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerLogic</servlet-name>
        <url-pattern>/registerLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileLogic</servlet-name>
        <url-pattern>/profileLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returnLogic</servlet-name>
        <url-pattern>/returnLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileUpdateLogic</servlet-name>
        <url-pattern>/profileUpdateLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>propertyCreateLogic</servlet-name>
        <url-pattern>/propertyCreateLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>propertyViewLogic</servlet-name>
        <url-pattern>/propertyViewLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePropertyLogic</servlet-name>
        <url-pattern>/updatePropertyLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePropertyLogic</servlet-name>
        <url-pattern>/deletePropertyLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>propertyAcquireLogic</servlet-name>
        <url-pattern>/propertyAcquireLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountViewLogic</servlet-name>
        <url-pattern>/accountViewLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountTransactionLogic</servlet-name>
        <url-pattern>/accountTransactionLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reviewRatingViewLogic</servlet-name>
        <url-pattern>/reviewRatingViewLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reviewRatingUpdateLogic</servlet-name>
        <url-pattern>/reviewRatingUpdateLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentViewLogic</servlet-name>
        <url-pattern>/paymentViewLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactionApproveLogic</servlet-name>
        <url-pattern>/transactionApproveLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactionRejectLogic</servlet-name>
        <url-pattern>/transactionRejectLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportLogic</servlet-name>
        <url-pattern>/reportLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returnLogicvHTP</servlet-name>
        <url-pattern>/returnLogicvHTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>propertyViewLogicvHTP</servlet-name>
        <url-pattern>/propertyViewLogicvHTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reviewRatingProperty</servlet-name>
        <url-pattern>/reviewRatingProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileListLogic</servlet-name>
        <url-pattern>/profileListLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileListUpdateLogic</servlet-name>
        <url-pattern>/profileListUpdateLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ownerAccountLogic</servlet-name>
        <url-pattern>/ownerAccountLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ownerRejectLogic</servlet-name>
        <url-pattern>/ownerRejectLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerLogicAdmin</servlet-name>
        <url-pattern>/registerLogicAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ownerApproveLogic</servlet-name>
        <url-pattern>/ownerApproveLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountRemovalLogic</servlet-name>
        <url-pattern>/accountRemovalLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactionViewLogic</servlet-name>
        <url-pattern>/transactionViewLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reviewRatingViewLogicReturn</servlet-name>
        <url-pattern>/reviewRatingViewLogicReturn</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
